@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  /* background-image:
    radial-gradient(circle at 15% 0%, rgba(201, 162, 39, 0.08), transparent 45%),
    radial-gradient(circle at 85% 100%, rgba(161, 59, 82, 0.08), transparent 45%);
  min-height: 100vh; */
  font-family: Arial, Helvetica, sans-serif;
}
